.text-contract {
    font-size: 21px;
}

.button-datxe {
    background-color: #043c78 !important;
}

.phone-number {
    color: #043c78;
    font-size: 30px;
}

.icon-phone {
    color: #043c78;
    margin-bottom: 10px;  
    font-size: 25px;
}