.list-cars {
    /* background-color: #043c78; */
    background-color: #f8f9fa;
}

.car-img {
  height: 250px;       
  object-fit: cover;       
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0; 
}

.title-list {
  color: #043c78;
}

.button-xemchitiet {
   background-color: #043c78 !important;
}

.button-timkiem {
  background-color: #043c78 !important;
  margin-bottom: 4px;
  margin-top: 4px;
}

.button-timkiem:hover {
    background-color: #1261d8 !important; 
    cursor: pointer;
}

.select-filter {
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
  /* width: 100%; */
  margin-bottom: 4px; 
  margin-top: 4px;
}

.select-filter:hover {
  border-color: #043c78;
  box-shadow: 0 0 5px rgba(13, 110, 253, 0.5);
  cursor: pointer;
}
